### local ###
FRONTEND_URL=http://localhost:8788
RESEND_FROM_URL=clerk@bloomingtonbabysitting.org
RESEND_API_KEY=generate a resend api key at https://resend.com/dashboard/api-keys and paste it here
WEBHOOK_KEY=generate a random uuid using `select gen_random_uuid()` in supabase sql editor and paste it here
### remote ###
# FRONTEND_URL=https://clerk.bloomingtonbabysitting.org
# RESEND_FROM_URL=clerk@bloomingtonbabysitting.org
# RESEND_API_KEY=generate a resend api key at https://resend.com/dashboard/api-keys and paste it here
# WEBHOOK_KEY=generate a random uuid using `select gen_random_uuid()` in supabase sql editor and paste it here